@import "../../global/variables.scss";

.credit {
  margin-top: -7rem;
  background: $color-grey-dark;
  padding: 3rem;

  &__body {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
