@import "../../global/variables.scss";
@import "../../global/mixins.scss";

.credit {
  margin-top: -7rem;
  background: $color-grey-dark;
  padding: 3rem;

  &__body {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 10rem;
  }



  @include size(  88.125em){
    font-size: 62.5%;
  }
}
