@import "./variables.scss";
@import "./mixins.scss";

* {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: $color-grey-light-2;
}

html {
  font-size: 62.5%;

  // @include size(112.5em) {
  //   font-size: 75%;
  // }

  @include size(77.875em) {
    font-size: 59%;
  }
  @include size(76.25em) {
    font-size: 55%;
  }
  @include size(68.5em) {
    font-size: 50%;
  }
}
body {
  // margin: 0 2rem;
}

.sections {
  height: 100vh;

  > * {
    scroll-snap-align: start;
    &:not(:last-child) {
      min-height: 90vh;
    }
  }
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

//utilities

@mixin margin-top-small() {
  margin-top: 4rem;
}

@mixin margin-top-medium() {
  margin-top: 7rem;
}
@mixin margin-top-huge() {
  margin-top: 50rem;
}

@mixin margin-bottom-huge() {
  margin-bottom: 10rem;
}

.card {
  padding-top: 2rem;
  box-shadow: $shadow--1;
  max-width: 20%;
  color: $color-grey-dark-3;
  margin: 5rem 5rem;
  background-color: white;
  text-align: center;
  transition: all 0.8s;
  border-radius: 1rem;
  min-width: 28rem;
  &__header {
    color: $color--primary;
    font-size: 3rem;
    padding-bottom: 1.5rem;
  }
  &__paragraph {
    color: inherit;
    padding: 0.5rem;
  }
  &:hover {
    transform: scale(1.2);
    box-shadow: $shadow--2;
  }
}

.more-arrow {
  padding: 2rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow--2;
  cursor: pointer;
  color: $color--white;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
    color: $color-grey-light-2;
  }
}

.button {
  border: none;
  padding: 1rem;
  background-image: $primary--gradient;
  box-shadow: $shadow--4;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.5s ease-out;
  &:hover {
    transform: scale(1.2);
    box-shadow: $shadow--1;
  }
}
