.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

//utilities

@mixin margin-top-small() {
  margin-top: 4rem;
}

@mixin margin-top-medium() {
  margin-top: 7rem;
}
@mixin margin-top-huge() {
  margin-top: 10rem;
}


@mixin margin-bottom-huge() {
  margin-bottom: 10rem;
}
