@import "../../global/global.scss";
@import "../../global/variables.scss";
@import "../../global/typography.scss";
@import "../../global/animation.scss";

.navigation {
  position: relative;
  min-height: 95vh;
  overflow: hidden;
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0% 100%, 100% 85%, 100% 0%, 0% 0%);
    z-index: -1;
    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.nav {
  width: 100%;
  display: flex;
  min-height: 95vh;
  background-color: rgba($color--primary, 0.5);
  clip-path: polygon(0% 100%, 100% 85%, 100% 0%, 0% 0%);
  &__intro {
    flex: 1;
    padding: 2rem;
    position: relative;
    &--img {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      background-color: $color--white;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--header {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-45%, -50%);
      line-height: 6rem;
      & span {
        margin-left: 1rem;
      }
    }
  }
  &__navigation {
    flex: 1;
    min-height: 50rem;
    clip-path: polygon(0% 0%, 0% 30%, 46% 100%, 100% 100%, 100% 0%);
    background-image: linear-gradient(
      to bottom right,
      rgba($color--tertiary--dark, 0.5),
      rgba($color--tertiary, 0.5)
    );
    &--header {
      margin: 3rem;
      color: $color--primary--dark;

      background: rgba($color--primary, 0.5);
      padding: 3rem;
      border-radius: 3px;
      box-shadow: $shadow--1;
      transition: all 1s;

      &:hover {
        background: rgba($color--secondary, 0.8);
        transform: scale(1.05);
        box-shadow: $shadow--2;
      }
    }
  }
}
